*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(145, 142, 142);
    min-height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    margin-bottom: 20px;
    color: rgb(114, 45, 45);
}
.keys{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; 
    padding-bottom: 3vh;
}
.key{
    width: 80px;
    height: 80px;
    border: 4px solid rgb(3, 3, 3); ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    color:rgb(133, 45, 45);
}
.key.active{
    border: 2px solid cadetblue;
    color: chocolate;
}
.composer{
    width: 260px;
    padding-top: 20px;
}
.composer #input{
    width: 100%;
    font-size: 17px;
    padding: 10px 10px;
    outline: none;
    
}
.composer button{
    color: rgb(17, 16, 16);
    width: 100%;
    height: 40px;
    background: none;
    border: 2px solid black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    cursor: pointer;
    margin-top: 20px;
    font-size: 15px;
}
.composer button:hover{
    background-color:  rgb(114, 45, 45);
    transition: ease-out 0.2s;
}
